* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 90%;
    margin: 0 auto;
}
.cabecalho{
    position: sticky;
    top:0;
    opacity: 100%;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0px 0px 10px 0px gray;
}

.menu {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.containerIMG {
    position: relative;
}

#image {
    position: absolute;
}

#texto {
    position: absolute;
    font-size: 34px;
    left: 2%;
    top: 92%;
    opacity: 60%;
}

.corpo {
    width: 70%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

hr {
    height: 1px;
    border: none;
    background-color: #cccccc;
}

.esquerda {
    margin-left: 50px;
}

.direita {
    margin-right: 50px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #e0e0e0;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #d1d1d1;
    width: 100%;
    height: 100px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texrodape {
    margin-top: 45px;
}

.pratos {
    opacity: 70%;
    width: 500px;
    border-radius: 3px;
}

.tituloPlayfair{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: normal;
}
.subtitulo{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: normal;
    margin: 10px 0px;
}
.subtituloPlayfair{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: normal;
}
.paragrafo{
    font-family: 'Times New Roman', serif;
    margin: 5px 0px;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 1.5;
}
.comentario{
    font-family: 'Times New Roman', serif;
    color: #757575;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 1.5;
}
.produtos{
    font-family: 'Times New Roman', serif;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textocabecalho{
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 3.5px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: #cccccc;
}
.destaque{
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    background-color: #F1F1f1;
    font-size: 18px;
    padding: 0px 8px;
}
.tudo{
    align-items: center;
}
.header-container{
    background-image: url("images/hamburger_cortado.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.header {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .titulo{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: normal;
    opacity: 60%;
    margin: 30px;
  }